<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>1D Cutting Stock Problem</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<div class="container">

    <h1>1D Problem Optymalnego Rozkroju</h1>
    <h3>Przy użyciu biblioteki GALib (open source)<br>
        <small>Aplikacja oblicza optymalne rozwiązanie problemu jednowymiarowego rozkroju drewna.</small>
    </h3>

    <div class="mt-4"></div>
    <!--/*@thymesVar id="indexFormDto" type="prz.cloud.example.cutting.stock.DTO.IndexFormDTO"*/-->
    <div class="row mb-4">
        <div class="col-md-5">
            <form th:action="@{/}" th:object="${indexFormDto}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="main_beam_length">Długość belki głównej (roboczej)</label>
                    <input type="number" class="form-control" id="main_beam_length" th:field="*{mainBeam}">
                </div>
                <div class="form-group">
                    <label for="no_of_elements">Ilość dłużyc (elementów do pocięcia)</label>
                    <input type="number" class="form-control" id="no_of_elements" th:field="*{nOfElements}">
                </div>
                <div class="form-group">
                    <label for="all_elements">Długości poszczególnych dłużyc (elementów)</label>
                    <textarea class="form-control" id="all_elements" rows="3" th:field="*{allElements}"></textarea>
                    <small class="form-text text-muted">Każda długość w osobnej lini. Liczba wierszy powinna zgadzać się
                        z wyżej zadeklarowaną wartością.
                    </small>
                </div>

                <button id="submitButton" type="submit" class="btn btn-outline-success">Oblicz</button>
                <button id="spinButton" style="display: none" class="btn btn-outline-success" type="submit" disabled>Oblicz
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="sr-only">Loading...</span>
                </button>


                <h4 class="mt-4">Ustawienia algorytmu:</h4>
                <div class="form-group">
                    <label for="nOfChromToEvo">Liczba chromosomów do ewolucji</label>
                    <input type="number" class="form-control" id="nOfChromToEvo" th:field="*{settings.nOfChromToEvo}">
                </div>
                <div class="form-group">
                    <label for="crossingProb">Prawdopodobieństwo krzyżowania</label>
                    <input type="number" class="form-control" step="0.1" id="crossingProb"
                           th:field="*{settings.crossingProb}">
                </div>
                <div class="form-group">
                    <label for="chanceOfRandom">Szansa na losowy wybór [%]</label>
                    <input type="number" class="form-control" id="chanceOfRandom" th:field="*{settings.chanceOfRandom}">
                </div>
                <div class="form-group">
                    <label for="nMaxOfGeneToEvol">Max liczba pokoleń do ewolucji</label>
                    <input type="number" class="form-control" id="nMaxOfGeneToEvol"
                           th:field="*{settings.nMaxOfGeneToEvol}">
                </div>
                <div class="form-group">
                    <label for="nOfGeneToEvolToInit">Liczba inicjalizujących pokoleń do ewolucji</label>
                    <input type="number" class="form-control" id="nOfGeneToEvolToInit"
                           th:field="*{settings.nOfGeneToEvolToInit}">
                </div>
                <div class="form-group">
                    <label for="nMaxOfGeneToInit">Max liczba generacji na przebieg inicjalizujący</label>
                    <input type="number" class="form-control" id="nMaxOfGeneToInit"
                           th:field="*{settings.nMaxOfGeneToInit}">
                </div>
                <div class="form-group">
                    <label for="crossingProb">Prawdopodobieństwo wystąpienia mutacji</label>
                    <input type="number" class="form-control" step="0.1" id="mutationProb"
                           th:field="*{settings.mutationProb}">
                </div>
                <div class="form-group">
                    <label for="decimalPlaces">Miejsca dziesiętne</label>
                    <input type="number" class="form-control" id="decimalPlaces" th:field="*{settings.decimalPlaces}">
                </div>
                <div class="form-group">
                    <label for="corossoverType">Rodzaj krzyżowania</label>
                    <select id="corossoverType" class="form-control" name="corossoverType"
                            th:field="*{settings.corossoverType}">
                        <option value="0">Jednopunktowy</option>
                        <option value="1">Dwupunktowy</option>
                        <option value="2">Jednolity</option>
                        <option value="3">Ruletka</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="calculateStats">Statystyki dla każdego pokolenia?</label>
                    <input id="calculateStats" type="checkbox" th:field="*{settings.calculateStats}" th:checked="*{settings.calculateStats}"/>
                </div>

                <a class="btn btn-outline-info" role="button" th:href="@{/restore}" href="#">Przywróć domyślne</a>
            </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <h4>Output:</h4>
            <p th:if="${algorithmResult != null && !algorithmResult.trim().isEmpty()}"
               th:utext="${algorithmResult}"></p>
        </div>
    </div>
    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script>
        $("#submitButton").click(function () {
            $("#submitButton").css("display","none");
            $("#spinButton").css("display","inline");
        });
    </script>
</div>
</body>
</html>